In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv"

football = pd.read_csv(url)
football.head()

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

#### Сколько футбольных клубов представлено в датасете?

In [2]:
len(football["Club"].unique())

650

#### Как называется футбольный клуб, представленный наименьшим количеством игроков в датасете?

In [4]:
football["Club"].value_counts()[football["Club"].value_counts() == football["Club"].value_counts().min()].index[0]

'Atlético Mineiro'

#### Данные об игроках каких позиций (Position) занимают более 10% датасета?

In [47]:
football['Position'].value_counts(normalize=True)[football['Position'].value_counts(normalize=True) > 0.1]

GK    0.127239
ST    0.117237
CB    0.108785
Name: Position, dtype: float64

#### Данные об игроках каких позиций (Position) занимают менее 1% датасета?

In [5]:
football['Position'].value_counts(normalize=True)[football['Position'].value_counts(normalize=True) < 0.01]

LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
RF     0.000465
LAM    0.000465
RAM    0.000388
Name: Position, dtype: float64

#### В каких пределах находятся худшие 20% показателей точности ударов ногой (FKAccuracy)?

In [6]:
football['FKAccuracy'].value_counts(bins = 5)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

#### Какие показатели точности ударов ногой демонстрирует большинство футболистов?

In [9]:
football['FKAccuracy'].value_counts(bins=10).index[0]

Interval(30.3, 39.4, closed='right')

#### Задача 1

У какого процента испанских специалистов (`Nationality = 'Spain'`) зарплата (`Wage`) находится в пределах 25% минимума от наблюдаемого уровня зарплат? Ответ в виде целого числа (округлите полученный результат) без знака %.

Подсказка: Для решения задачи используйте `value_counts()` с параметром `bins = 4`.

In [16]:
football['Wage'][football['Nationality'] == 'Spain'].value_counts(bins = 4)

(620.999, 95750.0]      651
(95750.0, 190500.0]      11
(190500.0, 285250.0]      6
(285250.0, 380000.0]      3
Name: Wage, dtype: int64

#### Задача 2

Укажите количество уникальных сборных (`Nationality`), к которым относятся футболисты, выступающие за клуб (`Club`) `"Manchester United"`.

In [15]:
len(football['Nationality'][football['Club'] == "Manchester United"].unique())

13

### Задача 3

С помощью функции unique определите двух футболистов из Бразилии (`Nationality = 'Brazil'`), выступающих за клуб (`Club`) `'Juventus'`. Перечислите их имена (`Name`, как в датафрейме) через запятую в алфавитном порядке.

In [24]:
[football[(football['Club'] == 'Juventus') & (football['Nationality'] == 'Brazil')]['Name'].unique()[i] for i in range(2)]

['Alex Sandro', 'Douglas Costa']

#### Задача 4

Укажите, какой из клубов (`Club`) насчитывает большее количество футболистов возрастом (`Age`) `старше 35 лет`.

In [32]:
football[football['Age'] > 35]['Club'].value_counts().index[0]
football[football['Age'] > 35]['Club'].value_counts().index[1]

'Club Atlético Huracán'

#### Задача 5

С помощью функции `value_counts` с параметром `bins` разбейте всех футболистов сборной (`Nationality`) Аргентины (`'Argentina'`) на 4 равные группы. Укажите, сколько футболистов в возрасте от `34.75 до 41 года` в сборной `Аргентины`.

In [33]:
football[football['Nationality'] == 'Argentina']['Age'].value_counts(bins = 4).values[3]

49

### Задача 6

Сколько процентов футболистов из Испании (`Nationality = 'Spain'`) имеют возраст (`Age`) `21 год`? Введите с точностью до 2 знаков после запятой без указания знака % (например, 12.35).

In [37]:
round(football[football['Nationality'] == 'Spain']['Age'].value_counts(normalize = True)[21]*100, 2)

11.77