In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/deputat.csv"
df = pd.read_csv(url)
df.head(3)

,name,lastname,otchestvo,gender,birthdate,start,end,district
0,Ефимов,Виталий,Борисович,м,04.04.1940,18.09.2016,NaN,Мордовский
1,Максимова,Надежда,Сергеевна,ж,13.01.1942,18.09.2016,NaN,Хакасский
2,Мищеряков,Юрий,Николаевич,м,01.01.1945,18.09.2016,NaN,Оренбургский

### Задания

Определите средний возраст депутатов?

In [16]:
from datetime import datetime, timedelta
from statistics import mean
round(mean([(datetime.now() - datetime.strptime(i, '%d.%M.%Y')).days/365 for i in df['birthdate'].values]))

57

Определите гендерное процентное соотношение состава депутатов

In [17]:
(df['gender'].value_counts()/df['gender'].count())*100

м    84.834123
ж    15.165877
Name: gender, dtype: float64