Рассмотрим датасет с зарплатами в ИТ:

In [6]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/it_new.csv')
df.head(10)

,id,Дата рождения,Вакансия,Технология,Локация,З/п в валюте найма,col,curenc
0,1,18.04.1994,Инженер-программист 2 категории,JS,Санкт-Петербург,"140 000,00 ₽",140000.0,₽
1,2,27.03.1993,Разработчик информационных систем,.NET,Москва,"130 000,00 ₽",130000.0,₽
2,3,24.11.1983,Java Developer,Java,Санкт-Петербург,"200 000,00 ₽",200000.0,₽
3,4,09.06.1989,Архитектор ПО,Java,Москва,"250 000,00 ₽",250000.0,₽
4,5,03.10.1978,QA Automation Engineer,QA,Санкт-Петербург,"172 413,00 ₽",172413.0,₽
5,6,21.08.1973,Big Data Developer,Big Data,Санкт-Петербург,"280 000,00 ₽",280000.0,₽
6,7,10.10.1991,JS Developer,JS,Москва,"129 000,00 ₽",129000.0,₽
7,8,16.08.1982,Разработчик мобильных приложений,Android,Москва,"185 000,00 ₽",185000.0,₽
8,9,16.05.1988,Инженер-программист 2 категории,.NET,Санкт-Петербург,"160 000,00 ₽",160000.0,₽
9,10,01.12.1990,Java Engineer,Java,Краков; Польша,"9 500,00 zł",9500.0,zł

In [9]:
import requests  
response = requests.get('https://www.cbr-xml-daily.ru/daily_json.js') 
current = response.json()
current['Valute'].keys()

dict_keys(['AUD', 'AZN', 'GBP', 'AMD', 'BYN', 'BGN', 'BRL', 'HUF', 'HKD', 'DKK', 'USD', 'EUR', 'INR', 'KZT', 'CAD', 'KGS', 'CNY', 'MDL', 'NOK', 'PLN', 'RON', 'XDR', 'SGD', 'TJS', 'TRY', 'TMT', 'UZS', 'UAH', 'CZK', 'SEK', 'CHF', 'ZAR', 'KRW', 'JPY'])

### Задание

Определите заработную плату в ₽ по текущему курсу.

In [14]:
df['curenc'] = df['curenc'].replace({'zł':'PLN','Kč':'CZK','Ft':'HUF','$':'USD','lev':'BGN','€':'EUR'})
def to_RUB(row):
    if row['curenc'] != '₽':
        return round(row['col']*current['Valute'][row['curenc']]['Value'], 2) 
    else:
        return row['col']

In [15]:
df['З/п в ₽ по текущему курсу'] = df.apply(to_RUB, axis = 1)
df

,id,Дата рождения,Вакансия,Технология,Локация,З/п в валюте найма,col,curenc,З/п в ₽ по текущему курсу
0,1,18.04.1994,Инженер-программист 2 категории,JS,Санкт-Петербург,"140 000,00 ₽",140000.00,₽,140000.00
1,2,27.03.1993,Разработчик информационных систем,.NET,Москва,"130 000,00 ₽",130000.00,₽,130000.00
2,3,24.11.1983,Java Developer,Java,Санкт-Петербург,"200 000,00 ₽",200000.00,₽,200000.00
3,4,09.06.1989,Архитектор ПО,Java,Москва,"250 000,00 ₽",250000.00,₽,250000.00
4,5,03.10.1978,QA Automation Engineer,QA,Санкт-Петербург,"172 413,00 ₽",172413.00,₽,172413.00
5,6,21.08.1973,Big Data Developer,Big Data,Санкт-Петербург,"280 000,00 ₽",280000.00,₽,280000.00
6,7,10.10.1991,JS Developer,JS,Москва,"129 000,00 ₽",129000.00,₽,129000.00
7,8,16.08.1982,Разработчик мобильных приложений,Android,Москва,"185 000,00 ₽",185000.00,₽,185000.00
8,9,16.05.1988,Инженер-программист 2 категории,.NET,Санкт-Петербург,"160 000,00 ₽",160000.00,₽,160000.00
9,10,01.12.1990,Java Engineer,Java,Краков; Польша,"9 500,00 zł",9500.00,PLN,163986.15
10,11,04.02.1991,Инженер-программист,JavaScript,Москва,"170 000,00 ₽",170000.00,₽,170000.00
11,12,11.02.1982,.NET Engineer,.NET,Гданьск; Польша,"12 000,00 zł",12000.00,PLN,207140.40
12,13,04.11.1988,JavaScript Engineer,JavaScript,Краков; Польша,"10 500,00 zł",10500.00,PLN,181247.85
13,14,09.04.1990,Software Engineer,JS,Вроцлав; Польша,"9 500,00 zł",9500.00,PLN,163986.15
14,15,16.03.1986,Head of Software Testing Department,QA,Санкт-Петербург,"375 000,00 ₽",375000.00,₽,375000.00
15,16,30.08.1982,Java Developer,Java,Москва,"180 000,00 ₽",180000.00,₽,180000.00
16,17,05.01.1984,Data / DWH Analyst,DB,Прага; Чехия,"60 000,00 Kč",60000.00,CZK,1710678.00
17,18,28.08.1995,JS Developer,JavaScript,Москва,"160 000,00 ₽",160000.00,₽,160000.00
18,19,02.02.1972,Senior Software Engineer,BI,Санкт-Петербург,"200 000,00 ₽",200000.00,₽,200000.00
19,20,21.09.1985,QA Engineer,QA,Санкт-Петербург,"135 000,00 ₽",135000.00,₽,135000.00
20,21,06.07.1990,Разработчик интерфейсов,JavaScript,Санкт-Петербург,"113 000,00 ₽",113000.00,₽,113000.00
21,22,13.11.1991,3D Artist,GameDev,Минск,"$2 000,00",2000.00,USD,143192.40
22,23,03.02.1970,Senior Tester,QA,Санкт-Петербург,"145 000,00 ₽",145000.00,₽,145000.00
23,24,29.10.1987,Инженер-программист,JavaScript,Санкт-Петербург,"190 000,00 ₽",190000.00,₽,190000.00
24,25,05.03.1989,Big Data Developer,Scala,Санкт-Петербург,"250 000,00 ₽",250000.00,₽,250000.00
25,26,29.12.1991,Разработчик информационных систем,.NET,Москва,"200 000,00 ₽",200000.00,₽,200000.00
26,27,01.11.1991,Фронтенд разработчик,JavaScript,Санкт-Петербург,"300 000,00 ₽",300000.00,₽,300000.00
27,28,09.10.1990,Java Developer,Java,Москва,"170 000,00 ₽",170000.00,₽,170000.00
28,29,17.04.1992,Разработчик информационных систем,.NET,Москва,"190 000,00 ₽",190000.00,₽,190000.00
29,30,12.11.1990,Big Data Developer,Big Data,Санкт-Петербург,"185 000,00 ₽",185000.00,₽,185000.00
30,31,09.02.1992,Senior Java developer,Java,Санкт-Петербург,"264 367,82 ₽",264367.82,₽,264367.82
31,32,19.12.1983,Game Designer,GameDev,Минск,"$1 800,00",1800.00,USD,128873.16
32,33,26.09.1981,Java Developer,Java,Москва,"210 000,00 ₽",210000.00,₽,210000.00
33,34,03.04.1994,iOS Developer,iOS,Санкт-Петербург,"184 000,00 ₽",184000.00,₽,184000.00
34,35,23.12.1988,iOS Developer,iOS,Санкт-Петербург,"170 000,00 ₽",170000.00,₽,170000.00
35,36,28.08.1977,BI Dev,BI,Санкт-Петербург,"161 000,00 ₽",161000.00,₽,161000.00
36,37,04.05.1988,PHP Dev,PHP,Москва,"201 149,43 ₽",201149.43,₽,201149.43
37,38,03.04.1990,JavaScript Engineer,JavaScript,Краков; Польша,"13 000,00 zł",13000.00,PLN,224402.10
38,39,10.06.1988,Senior Software Engineer,Java,София; Болгария,"lev6 446,00",6446.00,BGN,257222.47
39,40,17.02.1992,Test Automation Engineer,QA,Будапешт; Венгрия,"Ft650 000,00",650000.00,HUF,14445015.00
40,41,27.05.1986,Специалист по продаже консалтинговых услуг,Sales,Москва,"150 000,00 ₽",150000.00,₽,150000.00
41,42,10.10.1989,ASP.NET Developer,.NET,Санкт-Петербург,"165 000,00 ₽",165000.00,₽,165000.00
42,43,26.07.1989,С++ Developer,C++,Москва,"206 896,00 ₽",206896.00,₽,206896.00
43,44,04.01.1996,Software Developer,GameDev,Санкт-Петербург,"130 631,00 ₽",130631.00,₽,130631.00
44,45,25.01.1978,С++ Developer,C++,Нижний Новгород,"100 000,00 ₽",100000.00,₽,100000.00
45,46,25.10.1985,Senior Java developer,Java,Санкт-Петербург,"252 900,00 ₽",252900.00,₽,252900.00
46,47,01.06.1979,Solution Architect,OpenStack,Минск,6000 $,6000.00,USD,429577.20
47,48,06.03.1989,JS Dev,JS,Санкт-Петербург,"200 000,00 ₽",200000.00,₽,200000.00
48,49,04.07.1992,PHP Dev,PHP,Москва,"169 540,23 ₽",169540.23,₽,169540.23
49,50,09.02.1985,Java Developer,Java,Москва,"300 000,00 ₽",300000.00,₽,300000.00
50,51,04.08.1987,ASP.NET Dev,.NET,Москва,"180 000,00 ₽",180000.00,₽,180000.00
51,52,26.12.1987,Senior Java Developer,Java,Санкт-Петербург,"210 000,00 ₽",210000.00,₽,210000.00
52,53,07.02.1993,Android-разработчик,Android,Санкт-Петербург,"183 908,00 ₽",183908.00,₽,183908.00
53,54,20.06.1991,Разработчик информационных систем,.NET,Москва,"150 000,00 ₽",150000.00,₽,150000.00
54,55,04.11.1985,.NET Engineer,.NET,Чехия; Прага,"80 000,00 Kč",80000.00,CZK,2280904.00
55,56,08.01.1976,С++ Developer,С++,Атлон; Ирландия,"€ 3 212,00",3212.00,EUR,250157.95
56,57,12.09.1986,Java Dev,Java,Атлон; Ирландия,"€ 4 000,00",4000.00,EUR,311529.20
57,58,15.04.1989,JS Dev,JS,Атлон; Ирландия,"€ 2 980,00",2980.00,EUR,232089.25

### Возможности pandas для парсинга сайтов

Рассмотрим пример парсинга сайта с использованием возможностей модуля pandas:

In [3]:
import pandas as pd

df = pd.read_html("https://www.cbr.ru/key-indicators/")
df[0]

                 0           1           2
0           валюта  23.05.2020  26.05.2020
1  Доллар США  USD      718804      715962
2        Евро  EUR      784431      778823

In [4]:
df[1]

                 0           1
0  рублей за грамм  26.05.2020
1       Золото  Au    3 990,41
2      Серебро  Ag        3913
3      Платина  Pt    1 922,06
4     Палладий  Pd    4 408,08

In [5]:
df[2]

                               0         1         2          3
0                      % годовых    1 день  2-7 дней  8-30 дней
1          MIACR  за  22.05.2020       537       576          —
2         RUONIA  за  22.05.2020       534       NaN        NaN
3                      % годовых    1 день  1 неделя    1 месяц
4  MosPrime Rate  на  25.05.2020       565       573        576
5                      % годовых  1 неделя  2 недели    1 месяц
6        ROISfix  на  25.05.2020       541       541        531