### Задание 1

С помощью метода `datetime.strptime` переведите строку `'May 9 2017 9:00AM'` в формат `datetime`.

Выделите и запишите номер часа в этой дате (в виде целого числа). Подсказка: у обозначения месяца `May` формат `%b`, у `AM` - `%p`

In [9]:
from datetime import datetime, timedelta
date = datetime.strptime('May 9 2017 9:00AM', '%b %d %Y %H:%M%p')
date.hour

9

### Задание 2

Возьмите дату из прошлого шага `'May 9 2017 9:00AM'`, переведите в формат `datetime` и прибавьте к ней час с помощью `timedelta`.

Какой результат будет на экране в формате `datetime`? Ответ должен иметь вид `datetime.datetime(...)`

In [10]:
date += timedelta(hours=1)
date

datetime.datetime(2017, 5, 9, 10, 0)

### Задание 3

Возьмите результат прошлого упражнения (прибавление часа к 9 мая) и запишите результат в формате `'%Y-%m-%d'`. Какой будет результат?

In [11]:
date.strftime('%Y-%m-%d')

'2017-05-09'

### Задание 4

Напишите алгоритм, который «пробегает» период 1 до 3 января включительно по часам. Формат вывода `'%Y-%m-%d %H:%M:%S'`.

Какое значение будет последним для 2 января (т. е. 23 часа 2 января)? Результат должен иметь формат `%Y-%m-%d %H:%M:%S`

In [12]:
dates=[]
startDate = datetime.strptime('2020-01-01', '%Y-%m-%d')
endDate = datetime.strptime('2020-01-03', '%Y-%m-%d')
current_date = startDate
while current_date <= endDate:
    dates.append(current_date.strftime('%Y-%m-%d %H:%M:%S'))
    current_date += timedelta(hours=1)
dates[47]

'2020-01-02 23:00:00'

### ЗАДАНИЕ
Для завершения подсчета `lifetime` вам необходимо сделать следующее:

1. Сгруппировать датафрейм data по столбцу user_id, посчитав для столбца unixtime максимальное и минимальное значение для каждого пользователя.
2. Посчитать столбец diff с разностью максимального и минимального значения столбца unixtime из пункта 1.
3. Исключить из расчета пользователей, у которых разница diff равна 0.
4. Посчитать среднее значение столбца diff после фильтрации.
5. Вы получите ответ в секундах. Пересчитайте его в количество дней.

Каково значение `lifetime` в днях? Результат округлите до первого знака после запятой.

In [13]:
import pandas as pd
import time
data = pd.read_csv('https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/data.tsv', sep='\t')
def convert_to_datetime(row):
    return datetime.strptime(row['date'], '%d.%m.%Y %H:%M')
data['datetime'] = data.apply(convert_to_datetime, axis=1)

In [14]:
def make_unix_time(row):
    return time.mktime(row['datetime'].timetuple())

data['unixtime'] = data.apply(make_unix_time, axis=1)
data.head(3)

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid,datetime,unixtime
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2,2016-10-05 23:18:00,1.475699e+09
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6,2016-10-09 21:40:00,1.476038e+09
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2,2016-10-05 03:23:00,1.475627e+09

In [15]:
groupData = data.groupby(['user_id'])['unixtime'].agg(['min','max'])
groupData

                  min           max
user_id
1010     1.475699e+09  1.475699e+09
1036     1.476038e+09  1.476038e+09
1041     1.475627e+09  1.475699e+09
1042     1.475287e+09  1.475934e+09
1047     1.475318e+09  1.475693e+09
...               ...           ...
1393     1.475721e+09  1.475721e+09
1394     1.475614e+09  1.475614e+09
1397     1.475633e+09  1.475633e+09
1398     1.475697e+09  1.475697e+09
1424     1.475330e+09  1.476052e+09

[124 rows x 2 columns]

In [16]:
def make_diff(row):
    return row['max'] - row['min']
groupData['diff'] = groupData.apply(make_diff, axis = 1)
groupData

                  min           max      diff
user_id
1010     1.475699e+09  1.475699e+09       0.0
1036     1.476038e+09  1.476038e+09       0.0
1041     1.475627e+09  1.475699e+09   71760.0
1042     1.475287e+09  1.475934e+09  647340.0
1047     1.475318e+09  1.475693e+09  374520.0
...               ...           ...       ...
1393     1.475721e+09  1.475721e+09       0.0
1394     1.475614e+09  1.475614e+09       0.0
1397     1.475633e+09  1.475633e+09       0.0
1398     1.475697e+09  1.475697e+09       0.0
1424     1.475330e+09  1.476052e+09  721380.0

[124 rows x 3 columns]

In [18]:
groupData = groupData[groupData['diff'] != 0]
meanDiff = groupData["diff"].mean()
round( meanDiff/ (60*60*24), 1)

3.5