In [31]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/dm-fedorov/python_basic/master/data/vkontakte_group_01_2016-08-01_2020-03-15.csv")
df.head()

         Дата  Критерий Парам. №1 Парам. №2  Значение
0  15.03.2020     views       NaN       NaN         4
1  15.03.2020  visitors       NaN       NaN         3
2  15.03.2020    gender         М       NaN         3
3  15.03.2020       age     24-27       NaN         1
4  15.03.2020       age     30-35       NaN         2

In [2]:
dfc= pd.get_dummies(df, columns=['Критерий'])
dfc['year'] = [i[6::] for i in dfc['Дата'].values]
dfc.head(3)

,Дата,Парам. №1,Парам. №2,Значение,Критерий_activity,Критерий_age,Критерий_cities,Критерий_countries,Критерий_feedback,Критерий_gender,Критерий_gender_age,Критерий_members,Критерий_reach,Критерий_reach_subscribers,Критерий_reach_viral,Критерий_sections,Критерий_views,Критерий_visitors,year
0,15.03.2020,NaN,NaN,4,0,0,0,0,0,0,0,0,0,0,0,0,1,0,2020
1,15.03.2020,NaN,NaN,3,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2020
2,15.03.2020,М,NaN,3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,2020

#### Задание №1

In [3]:
views = dfc[['year', 'Значение']][dfc['Критерий_views'] == 1]
viewsperYear = views.groupby(['year'])['Значение'].sum()
viewsperYear

year
2016     7199
2017    11872
2018     7055
2019     8754
2020     1444
Name: Значение, dtype: int64

In [4]:
visitors = dfc[['year', 'Значение']][dfc['Критерий_visitors'] == 1]
visitorsperYear = visitors.groupby(['year'])['Значение'].sum()
visitorsperYear

year
2016    5254
2017    8524
2018    5117
2019    5733
2020     956
Name: Значение, dtype: int64

#### Задание №2

In [5]:
reach = dfc[['year','Значение']][dfc['Критерий_reach'] == 1]
reach = reach.groupby(['year'])['Значение'].sum()
reach

year
2016    15672
2017    27479
2018    12539
2019    21185
2020     1656
Name: Значение, dtype: int64

In [6]:
reach_subsc = dfc[['year','Значение']][dfc['Критерий_reach_subscribers'] == 1]
reach_subsc = reach_subsc.groupby(['year'])['Значение'].sum()
reach_subsc

year
2016    3522
2017    4487
2018    2125
2019    9568
2020     536
Name: Значение, dtype: int64

#### Задание №3

In [30]:
gender = dfc[['Значение','Парам. №1']][dfc['Критерий_gender'] == 1]
gender = gender.groupby(['Парам. №1'])['Значение'].sum()
gender

Парам. №1
Ж    10063
М    12637
Name: Значение, dtype: int64

In [8]:
age = dfc[['Парам. №1', 'Значение']][dfc['Критерий_age'] == 1]
age = age.groupby(['Парам. №1'])['Значение'].sum()
age

Парам. №1
1-18      741
18-21    3046
21-24    2560
24-27    1751
27-30    2419
30-35    3466
35-45    2402
45+      2350
Name: Значение, dtype: int64

In [26]:
gender_age = dfc[['Парам. №1','Парам. №2', 'Значение']][dfc['Критерий_gender_age'] == 1]
gender_age = gender_age.groupby(['Парам. №1'])['Парам. №2'].value_counts()
gender_age.sort_values(ascending=False)

Парам. №1  Парам. №2
М          30-35        1095
           27-30         990
Ж          18-21         939
           21-24         808
М          35-45         783
Ж          45+           744
М          45+           718
           21-24         693
Ж          35-45         659
М          18-21         649
Ж          24-27         612
           30-35         582
М          24-27         574
Ж          27-30         495
           1-18          426
М          1-18          184
Name: Парам. №2, dtype: int64

In [10]:
country = dfc[['Парам. №1','Значение']][dfc['Критерий_countries'] == 1]
country = country.groupby(['Парам. №1'])['Значение'].sum()
country.sort_values(ascending=False)

Парам. №1
Россия                         22367
Украина                          994
Беларусь                         506
США                              340
Казахстан                        290
                               ...
Непал                              1
Южно-Африканская Республика        1
Кувейт                             1
Кот-д'Ивуар                        1
Австралия                          1
Name: Значение, Length: 70, dtype: int64

#### Задание №4

In [11]:
feedback = dfc[['Парам. №1','Значение']][dfc['Критерий_feedback'] == 1]
feedback = feedback['Парам. №1'].value_counts()
feedback

Нравится              683
Рассказали друзьям    291
Комментарии            91
Упоминания              1
Name: Парам. №1, dtype: int64

#### Задание №5

In [21]:
print('Наиболее активные пользователи:\nСтрана: ', str(country.sort_values(ascending=False).index[0]))
print('Возраст: ', age.sort_values(ascending=False).index[0], 'и', age.sort_values(ascending=False).index[1])

Наиболее активные пользователи:
Страна:  Россия
Возраст:  30-35 и 18-21